[Desktop Entry]
Version=1.0
Type=Application
Name=PyCharm Community Edition
Icon=~/.local/icons/pycharm-numix.svg
Exec="/opt/pyCharm/bin/pycharm.sh" %f
Comment=Python IDE for Professional Developers
Categories=Development;IDE;
Terminal=false
StartupWMClass=jetbrains-pycharm-ce
StartupNotify=true
