[Desktop Entry]
#Encoding=UTF-8
Type=Application
Name=Terminology_2
Name[ko]=터미놀로지
#GenericName=Terminal
#GenericName[eo]=Terminalo
#GenericName[it]=Terminale
#GenericName[ru]=Терминал
#GenericName[ko]=터미널
Comment=Terminal emulator
Comment[da]=Terminalemulator
Comment[eo]=Terminalimitilo
Comment[es]=Emulador de terminal
Comment[gl]=Emulador de terminal
Comment[it]=Emulatore di terminale
Comment[pt]=Emulador de terminal
Comment[ru]=Эмулятор терминала
Comment[ko]=터미널 에뮬레이터
Keywords=shell;prompt;command;commandline;
Exec=terminology_2 -g 196x55+115+65 -S v-h
Icon=/home/corey/.local/share/icons/utilities-terminal_gray.svg
Categories=System;TerminalEmulator;
StartupWMClass=terminology
